@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .animated-gradient {
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
    @apply bg-gradient-to-r from-cat-blue via-cat-mauve to-cat-sapphire font-bold;
  }

  .skill-badge {
    @apply m-2 flex h-12 items-center justify-center rounded-lg px-4 py-2.5 text-center shadow-lg transition-all hover:scale-105 hover:shadow-xl;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
